@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/*
.custom-user-menu {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
}

.user-header {
    background-color: #3490dc !important;
}
*/